* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  display: flex;
  background-color: darkkhaki;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

h1 {
  font-size: 45px;
  margin-bottom: 40px;
}

.calculator {
  background-color: beige;
  border: solid 10px beige;
  border-radius: 12px;
}
.calculator-display {
  background-color: rgb(64, 61, 61);
  color: white;
  width: 230px;
  padding: 13px;
  font-size: 32px;
  margin-bottom: 12px;
  text-align: end;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  gap: 10px;
}

.calculator-buttons button {
  height: 50px;
  width: 50px;
  font-size: 30px;
}
